.img-shopping-card {
  margin-inline-end: 0.75em;
}

.bt {
  border-top: 1px solid #ccc;
}
.border {
  position: absolute;
  top: 5px;
  height: 100%;
  width: 1px;
  left: 50%;
  background-color: #ccc;
}
