.image-card-product {
  height: 350px;
  width: 100%;
}

.other-items {
  height: 0;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  display: none;
  padding: 1em 0.25em;
}
.product-image {
  position: relative;
  &:hover .other-items {
    display: flex;
    width: 100%;
    flex-direction: row;

    height: 100px;
    .img-container {
      flex-basis: 20%;
      margin: 0 0.25em;
      height: 70px;
    }
  }
  &:hover .cart-info {
    display: flex;
  }
}
.image-product-small {
  max-width: 100%;
}
.cart-info {
  position: absolute;
  top: 0px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  right: 0;
  align-items: center;
  flex-direction: column;
  display: none;
}
.icon-card {
  height: 30px;
  width: 30px;
}
.promo-badge {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;

  width: max-content;
  background-color: red;
  p {
    padding: 0.25em 0.5em;
  }
}
.card {
  padding: 0.5em;
}
.product-grid-item {
  height: max-content;
}
