<div class="container">
  <h3 class="title-primary mb-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ea similique aut
  </h3>
  <div class="row">
    <div class="col-md-4 my-2">
      <img
        class="img-fluid"
        style="height: 200px; object-fit: contain;"
        src="assets/images/event.jpg"
      />
    </div>
    <div class="col-md-8 my-2">
      <div class="j-description j-resume-lg">
        <h5>{{ 'globale.details' | translate }} :</h5>
        <div class="mx-3">
          <p class="bold mb-1">
            Type Action :

            <span class="mx-1">Code Type Action</span>
          </p>
          <p class="bold mb-1">
            Date Action :

            <span class="mx-1">20-02-2022</span>
          </p>

          <p class="bold mb-1">
            Type B :

            <span class="mx-1">Code Type Bénéficiare</span>
          </p>

          <p class="bold mb-1">
            Nom B:

            <span class="mx-1">Nom Du Bénéficière</span>
          </p>
        </div>
      </div>
    </div>

    <div class="j-description j-resume-lg my-3">
      <h5>
        {{ 'globale.commentaires' | translate }}
      </h5>
      <p class="column-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
        provident necessitatibus iste inventore explicabo quos sint obcaecati
        esse dolorem nobis quibusdam quas eligendi, molestiae libero saepe est,
        voluptatem iure perspiciatis? Odit eligendi corporis minima quas cumque
        eius nesciunt eveniet veniam, amet quisquam, doloremque vitae nostrum
        totam illo nisi, harum pariatur animi voluptate inventore earum voluptas
        deserunt alias mollitia.
      </p>
    </div>

    <div class="j-description j-resume-lg my-3">
      <h5>
        {{ 'globale.lien' | translate }}
      </h5>
      <a href="http://localhost:4200/details/details/action-sociale" class="">
        http://localhost:4200/details/details/action-sociale
      </a>
    </div>
  </div>
</div>
