body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 34);
  font-size: 0.8rem;
}

.card-top {
  padding: 0.7rem 5rem;
}
.card-body {
  padding: 0;
}

#logo {
  font-family: 'Dancing Script';
  font-weight: bold;
  font-size: 1.6rem;
}

#three {
  border-radius: 1rem;
  width: 22px;
  height: 22px;
  margin-right: 3px;
  border: 1px solid blue;
  text-align: center;
  display: inline-block;
}
#payment {
  margin: 0;
  color: blue;
}
.icons {
  margin-left: auto;
}

form {
  padding: 2vh 0;
}

.header {
  font-size: 1.5rem;
}
.left {
  background-color: #ffffff;
  padding: 2vh;
}
.left img {
  width: 2rem;
}
.left .col-4 {
  padding-left: 0;
}

.right {
  background-color: #ffffff;
  padding: 2vh;
}
.lower {
  line-height: 2;
}
.col-8 {
  padding: 0 1vh;
}

.btn {
  background-color: rgb(23, 4, 189);
  border-color: rgb(23, 4, 189);
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin: 4vh 0 1.5vh 0;
  padding: 1.5vh;
  border-radius: 0;
}
.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;

  transition: none;
}
.btn:hover {
  color: white;
}
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}
input[type='checkbox'] {
  width: unset;
  margin-bottom: unset;
}
