<a class="cursor-pointer">
  <div class="imgwrap" style="display: flex; justify-content: center;">
    <a [routerLink]="['/details/details/documents/details']">
      <img
        class="card-img"
        alt=""
        [defaultImage]="'/assets/images/doc_a_tele1.png'"
        [lazyLoad]="documents.image"
      />
    </a>
  </div>
  <div>
    <h4 class="j-title-md blue-color text-center my-2">
      {{ documents.titre }}
    </h4>
  </div>
  <div>
    <p class="truncate truncate-3-line">
      Format:
      <span>Video</span>
    </p>
  </div>
  <div>
    <p class="truncate truncate-3-line">
      Taille :
      <span>1235402 KB</span>
    </p>
  </div>
  <div>
    <p class="j-description j-resume-lg">
      <i class="fa fa-calendar"></i>
      <span class="mx-1">
        {{ documents.dateEdition | date: 'dd - MMM - yyyy' }}
      </span>
    </p>
  </div>
</a>
