<div class="mb-3">
  <h2 class="title-primary title-page">Fiche</h2>
</div>
<div class="table-container py-3">
  <h4 class="title-secondary">
    Fiche D’identité
  </h4>
  <table class="w-100">
    <tr>
      <td>Statut Juridique</td>
      <td>S.A.R.L</td>
    </tr>
    <tr>
      <td>Numéro SIRET</td>
      <td>622 044 501 00139</td>
    </tr>

    <tr>
      <td>Secteur d’activité</td>
      <td>Publicité et études de marché</td>
    </tr>
    <tr>
      <td>Numéro SIRET</td>
      <td>622 044 501 00139</td>
    </tr>
    <tr>
      <td>Chiffre d’affaires annuel</td>
      <td>100 000 000 DH</td>
    </tr>
    <tr>
      <td>Siege de l'entreprise</td>
      <td>120, Db Mohammed 5 Tnager</td>
    </tr>
    <tr>
      <td>Effectif de l'entreprise</td>
      <td>200 à 250 Salariés</td>
    </tr>
    <tr>
      <td>ICE</td>
      <td>25820111454578</td>
    </tr>
  </table>
</div>
