.img-login {
  background-image: url('http://localhost:4200/assets/images/user.png');
  height: 175px;
  background-size: cover;

  width: 175px;

  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
