<div class="menu py-3">
  <div class="search-bar-header container">
    <div class="search-item first m-all">
      <input
        type="text"
        name="name"
        id=""
        placeholder="{{ 'header.inpt1' | translate }}"
      />
    </div>
    <div class="search-item second m-all">
      <input
        type="text"
        name="location"
        placeholder="{{ 'header.inpt2' | translate }}"
        id=""
      />
    </div>
    <div class="search-item selectContainer m-all">
      <select name="contactMethod" id="contactMethod">
        <option class="select-placeholder" value="">All Categories</option>

        <option>option1</option>
        <option>option2</option>
        <option>option3</option>
        <option>option4</option>
      </select>
    </div>
    <div class="search-item">
      <a class="search-item-btn" href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
    </div>
  </div>
</div>
<!-- <div class="container search-bar">
  <div class="search-item first m-all">
    <input
      type="text"
      name="name"
      id=""
      placeholder="{{ 'header.inpt1' | translate }}"
    />
  </div>
  <div class="search-item second m-all">
    <input
      type="text"
      name="location"
      placeholder="{{ 'header.inpt2' | translate }}"
      id=""
    />
  </div>
  <div class="search-item selectContainer m-all">
    <select name="contactMethod" id="contactMethod">
      <option class="select-placeholder" value="">All Categories</option>

      <option>option1</option>
      <option>option2</option>
      <option>option3</option>
      <option>option4</option>
    </select>
  </div>
  <div class="search-item">
    <a class="search-item-btn" href="#">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
  </div>
</div> -->
