.radio-input {
  width: 15px;
}
.label-radio {
  span {
    padding: 0 5px;
  }
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.width-select {
  width: 30%;
}
.valign-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-top-calendar {
  height: 32px;
  padding: 0 0.5em !important;
}
